# Python packages used in production environment
pydantic
pydantic-settings
python-dotenv
sqlalchemy
cx_Oracle
loguru
pandas
teams-ai
poetry
dotenv
uvicorn
fastapi
botbuilder-core
langchain[google-genai]
langgraph
langchain
